#### Assignment Number One

In [4]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

#### 1. What is the length of the salaries list.

In [7]:
len(salaries)

7

#### 2. Retrieve the third salary in the list by using index.

In [10]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [12]:
salaries[3]

'60k'

#### 3. Extract the last salary from the list by using a negative index.

In [15]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [17]:
salaries[-1]

'40k'

#### 4. Slice the salaries list to get only the middle three salaries.

In [22]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [24]:
salaries[2:5]

['50k', '60k', '35k']

In [26]:
salaries[2:-2]

['50k', '60k', '35k']

#### 5. Add a new salary to the list, ‘100k’ by using append() method.

In [29]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [33]:
salaries.append('100k')

In [35]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

#### 5. Add a new salary to the list, ‘120k’ without method.

In [46]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k','100k','120k']

In [48]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 6. Replace the third salary in the list with '55k' and print the updated list.

In [52]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [54]:
salaries[3]=('55k')

In [56]:
salaries

['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

#### 7. Count how many times '40k' appears in the list.

In [59]:
salaries

['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

In [61]:
salaries.count('40k')

2

#### 8. Insert a new salary at the second position.

In [64]:
salaries

['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

In [66]:
salaries.insert(2,'45k')

In [68]:
salaries

['20k', '40k', '45k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

#### 9. Reverse the order of the salaries list with method.

In [73]:
salaries

['20k', '40k', '45k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

In [77]:
salaries.reverse()

In [79]:
salaries

['120k', '100k', '40k', '89k', '35k', '55k', '50k', '45k', '40k', '20k']

#### 10. Reverse the order of the salaries list without method.

In [82]:
salaries = ['20k', '40k', '45k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']

In [86]:
salaries

['20k', '40k', '45k', '50k', '55k', '35k', '89k', '40k', '100k', '120k']